// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image:url('http://fc09.deviantart.net/fs71/f/2012/203/6/f/airplane_by_paullus23-d58794k.jpg');
  background-size:cover;
}

.select-box {
  background-color:rgba(150,150,150,0.4);
  float:left;
  height:225px;
  width:200px;
  box-shadow: 0 0 35px -3px #336;
  padding:15px;
  margin:15px;
}
